.icon--hamburger { background-image: url('../img/icons/png/hamburger.png'); background-repeat: no-repeat; }

.icon--linkedin { background-image: url('../img/icons/png/linkedin.png'); background-repeat: no-repeat; }

.icon--logo { background-image: url('../img/icons/png/logo.png'); background-repeat: no-repeat; }

.icon--mail { background-image: url('../img/icons/png/mail.png'); background-repeat: no-repeat; }

.icon--twitter { background-image: url('../img/icons/png/twitter.png'); background-repeat: no-repeat; }

