<footer class="site-footer" role="contentinfo">
  <div class="footer-primary">
    <p class="fold-front">Check out some of my <a href="">recent work</a><br> or find out more about <a href="">my development process</a>.</p>

    <a href="https://github.com/ginaliao/ginaliao.com" class="folds">
      <div class="fold fold--1">
        <div class="fold fold--2">
          <div class="fold fold--3">
            <div class="fold fold--4">
              <div class="pull-tab">Take a peek!</div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="footer-secondary">
    <p>&copy; 2016 Gina Liao.</p>

    <ul class="social-list">
      <li class="social-item">
        <a href="https://twitter.com/itsginarrr" class="social-link"><div class="icon icon--twitter" data-grunticon-embed></div></a>
      </li>
      <li class="social-item">
        <a href="https://nz.linkedin.com/in/ginaliao" class="social-link"><div class="icon icon--linkedin" data-grunticon-embed></div></a>
      </li>
      <li class="social-item">
        <a href="{{ "/contact" | prepend: site.baseurl }}" class="social-link js-modal-open"><div class="icon icon--mail" data-grunticon-embed></div></a>
      </li>
    </ul>
  </div>
</footer>