.post-list {
	list-style: none;
	padding: 0;
}

.post-item {
	@include vertical-rhythm('margin', 1 0 0 0);
	display: flex;
	align-items: center;
	flex-wrap: wrap-reverse;
	.post-meta {
		@include typeset('xsmall');
	}
	.post-title {
		@include vertical-rhythm('margin', 0 0.5 0 0);
	}
}

.post-title {
	@include vertical-rhythm('margin', 1 0);
	font-weight: $weight-bold;
}

.post-subtitle {
	.has-subtitle & {
		margin-top: 0;
	}
}

.post-meta {
	@include body-copy;
	@include typeset('small');
	font-weight: $weight-light;
	color: $nobel;
	font-style: italic;
	a { border: none; }
}

.post-category,
.post-date {
	@include base-copy;
	font-style: normal;
}

.post-category {
	font-weight: $weight-bold;
	color: $cabaret;
	text-transform: uppercase;
}

.post-date {
	color: $fiord;
}

.post-link {
	color: $fiord;
	&:hover {
		color: $cabaret;
	}
}

.post-content {
	@include body-copy;
	h2 { @include vertical-rhythm('margin', 1 0 0.25); }
	h3 { @include vertical-rhythm('margin', 1 0 0.25); }
	h4 { @include vertical-rhythm('margin', 1 0); }
	h5 { @include vertical-rhythm('margin', 1 0); }
	h6 { @include vertical-rhythm('margin', 1 0); }
	a { border-bottom: 1px solid rgba($ebony, 0.2); }
}

.recede {
	@include base-copy;
	@include typeset('small');
	color: $nobel;
}