.site-content {
	flex: 1 0 auto;
	@include vertical-rhythm('padding', 1 0);
  p { @include body-copy; }
}

.is-fading-in {
  visibility: visible;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.is-fading-in--up { animation-name: fadeInUp; }
.is-fading-in--right { animation-name: fadeInRight; }
.is-fading-in--left { animation-name: fadeInLeft; }

.is-fading-out {
  visibility: none;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.is-fading-out--up { animation-name: fadeOutUp; }
.is-fading-out--right { animation-name: fadeOutRight; }
.is-fading-out--left { animation-name: fadeOutLeft; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2%, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2%, 0, 0);
    transform: translate3d(-2%, 0, 0);
  }
   from {
    opacity: 1;
  }
}

@keyframes fadeOutLeft {
  to {
    opacity: 0;
    -webkit-transform: translate3d(2%, 0, 0);
    transform: translate3d(2%, 0, 0);
  }
}