.modal-is-visible .page {
  filter: blur(1px) grayscale(1);
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.25s ease-in-out;
  &.is-visible {
    background-color: rgba($bunker, 0.85);
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  @include vertical-rhythm('margin', 0.5);
  @include vertical-rhythm('padding', 0.5);
  background: $fiord;
  // NOTE TO SELF: Using 135deg causes jagged edges in Chrome
  background: linear-gradient(-45deg, $fiord 0%, $fiord 50%, $concrete 50%, $concrete 100%);
  width: 100%;
  max-width: 30em;
  position: relative;
  &:focus {
    outline: none;
  }
}

.modal-close {
  $unit: 1em;
  background: transparent;
  border: none;
  position: absolute;
  top: -$unit;
  right: -$unit;
  height: $unit * 2;
  width: $unit * 2;
  &:before,
  &:after {
    content: "";
    display: block;
    border-radius: 2px;
    width: 85%;
    height: 25%;
    position: absolute;
    top: 37%;
    left: 8%;
    transition: all 0.3s ease 0s;
    background-color: $nobel;
  }
  &:before { transform: rotate(45deg); }
  &:after { transform: rotate(-45deg); }
  &:hover {
    &:before { transform: rotate(-45deg) scale(0.75); }
    &:after { transform: rotate(45deg) scale(0.75); }
  }
}