.post-title {
	@include vertical-rhythm('margin', 1 0);
	font-weight: $weight-bold;
}

.post {
	h2 { @include vertical-rhythm('margin', 1 0 0.25); }
	h3 { @include vertical-rhythm('margin', 1 0 0.25); }
	h4 { @include vertical-rhythm('margin', 1 0); }
	h5 { @include vertical-rhythm('margin', 1 0); }
	h6 { @include vertical-rhythm('margin', 1 0); }
}

.post-meta {}

.supplement {
	background: rgba($ebony, 0.1);
	padding: 0 0.25em;
	cursor: pointer;
	position: relative;
	display: inline-block;
	&:before,
	&:after {
		background: $cerulean;
		position: absolute;
		visibility: hidden;
		bottom: 110%;
		left: 50%;
	}
	&:before {
		@include heading-copy;
		@include typeset('xsmall');
		text-align: center;
		content: attr(data-tooltip);
		display: block;
		width: 10em;
		border-radius: 0.5em;
		margin-left: -5em;
		padding: 0.5em;
		opacity: 0;
		transform-origin: center bottom;
		transform: rotateZ(15deg) scale(0);
		transition: 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550); // easeInOutBack
	}
	&:after {
		content: '';
		width: 1em;
		height: 1em;
		margin-left: -0.5em;
		transform: rotate(45deg) scale(0);
		transform-origin: center center;
		z-index: -1;
	}
	&:hover,
	&:focus {
		background: rgba($ebony, 0.2);
	}
	&:hover:before,
	&:hover:after,
	&:focus:before,
	&:focus:after {
		visibility: visible;
		opacity: 1;
	}
	&:hover:before,
	&:focus:before {
		transform: rotateZ(0) scale(1);
	}
	&:hover:after,
	&:focus:after {
		transform: rotate(45deg) scale(1);
		transition: 0.3s 0.1s cubic-bezier(0.680, -0.550, 0.265, 1.550); // easeInOutBack
	}
}