$columns: one two three four five six seven eight nine ten eleven;
$column-length: length($columns) + 1;
$gutter: 10px;

.grid {
  @include clearfix;
  position: relative;
  margin-left: -($gutter);

  &.grid--forced {
    .col {
      float: left;
      padding-left: $gutter;
    }

    @each $c in $columns {
      $i: index($columns, $c);
      .#{$c} { width: column($i, $column-length); }
    }
  }

  @include respond-to('base') {
    .col {
      float: left;
      padding-left: $gutter;
    }

    @each $c in $columns {
      $i: index($columns, $c);
      .#{$c} { width: column($i, $column-length); }
    }
  }
}