/*====================/
  Layout 
/====================*/

/* Floats */

.u-pull-left { float: left !important; }
.u-pull-right { float: right !important; }

/* Add/remove margins */

.u-push { margin: $base-space !important; }
.u-push-top { margin-top: $base-space !important; }
.u-push-right { margin-right: $base-space !important; }
.u-push-bottom { margin-bottom: $base-space !important; }
.u-push-left { margin-left: $base-space !important; }
.u-push-vertical { margin-top: $base-space !important; margin-bottom: $base-space !important; }
.u-push-horizontal { margin-left: $base-space !important; margin-right: $base-space !important; }

.u-flush { margin: 0 !important; }
.u-flush-top { margin-top: 0 !important; }
.u-flush-right { margin-right: 0 !important; }
.u-flush-bottom { margin-bottom: 0 !important; }
.u-flush-left { margin-left: 0 !important; }
.u-flush-vertical { margin-top: 0 !important; margin-bottom: 0 !important; }
.u-flush-horizontal { margin-left: 0 !important; margin-right: 0 !important; }

/* Add/remove padding */

.u-soft { padding: $base-space !important; }
.u-soft-top { padding-top: $base-space !important; }
.u-soft-right { padding-right: $base-space !important; }
.u-soft-bottom { padding-bottom: $base-space !important; }
.u-soft-left { padding-left: $base-space !important; }
.u-soft-vertical { padding-top: $base-space !important; padding-bottom: $base-space !important; }
.u-soft-horizontal { padding-left: $base-space !important; padding-right: $base-space !important; }

.u-hard { padding: 0 !important; }
.u-hard-top { padding-top: 0 !important; }
.u-hard-right { padding-right: 0 !important; }
.u-hard-bottom { padding-bottom: 0 !important; }
.u-hard-left { padding-left: 0 !important; }
.u-hard-vertical { padding-top: 0 !important; padding-bottom: 0 !important; }
.u-hard-horizontal { padding-left: 0 !important; padding-right: 0 !important; }

/*====================/
  Text
/====================*/

.u-text-left { text-align: left !important; }
.u-text-right { text-align: right !important; }
.u-text-center { text-align: center !important; }