/*====================/
  Layout 
/====================*/

/* Floats */

.u-pull-left { float: left; }
.u-pull-right { float: right; }

/* Add/remove margins */

.u-push { @include vertical-rhythm('margin', 1); }
.u-push-top { @include vertical-rhythm('margin-top', 1); }
.u-push-right { @include vertical-rhythm('margin-right', 1); }
.u-push-bottom { @include vertical-rhythm('margin-bottom', 1); }
.u-push-left { @include vertical-rhythm('margin-left', 1); }
.u-push-vertical { @include vertical-rhythm('margin-top', 1); @include vertical-rhythm('margin-bottom', 1); }
.u-push-horizontal { @include vertical-rhythm('margin-left', 1); @include vertical-rhythm('margin-right', 1); }

.u-flush { margin: 0; }
.u-flush-top { margin-top: 0; }
.u-flush-right { margin-right: 0; }
.u-flush-bottom { margin-bottom: 0; }
.u-flush-left { margin-left: 0; }
.u-flush-vertical { margin-top: 0; margin-bottom: 0; }
.u-flush-horizontal { margin-left: 0; margin-right: 0; }

/* Add/remove padding */

.u-soft { @include vertical-rhythm('padding', 1); }
.u-soft-top { @include vertical-rhythm('padding-top', 1); }
.u-soft-right { @include vertical-rhythm('padding-right', 1); }
.u-soft-bottom { @include vertical-rhythm('padding-bottom', 1); }
.u-soft-left { @include vertical-rhythm('padding-left', 1); }
.u-soft-vertical { @include vertical-rhythm('padding-top', 1); @include vertical-rhythm('padding-bottom', 1); }
.u-soft-horizontal { @include vertical-rhythm('padding-left', 1); @include vertical-rhythm('padding-right', 1); }

.u-hard { padding: 0; }
.u-hard-top { padding-top: 0; }
.u-hard-right { padding-right: 0; }
.u-hard-bottom { padding-bottom: 0; }
.u-hard-left { padding-left: 0; }
.u-hard-vertical { padding-top: 0; padding-bottom: 0; }
.u-hard-horizontal { padding-left: 0; padding-right: 0; }

/*====================/
  Text
/====================*/

.u-text-left { text-align: left; }
.u-text-right { text-align: right; }
.u-text-center { text-align: center; }