/* =========================================================================
  Global: For all your element tags. Includes modified normalize.css.
  ========================================================================== */

  *, *:before, *:after {
    box-sizing: inherit;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }

/* Base
========================================================================== */

html {
  background: #fff;
  box-sizing: border-box;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  @include body-font;
  color: $black;
}

body {
  margin: 0;
  min-width: 300px;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Links
========================================================================== */

a {
  color: $black;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
  border: none;
  text-decoration: none;
}

/* Typography
========================================================================== */

h1, h2, h3,
h4, h5, h6,
.h1, .h2, .h3,
.h4, .h5, .h6 {
  @include body-bold;
  color: $black;
}

h1, .h1 {
  @include font-size($xxlarge);
  margin: 1.34em 0 0.67em 0;
}

h2, .h2 {
  @include font-size($xlarge);
  margin: 1.66em 0 0.83em 0;
}

h3, .h3 {
  @include font-size($large);
  margin: 2em 0 1em 0;
}

h4, .h4 {
  @include font-size($medium);
  margin: 2.66em 0 1.33em 0;
}

h5, .h5 {
  @include font-size($base);
  margin: 3.34em 0 1.67em 0;
}

h6, .h6 {
  @include font-size($base);
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  @include body-bold;
}

blockquote {
  margin: 1em 40px;
}

p {
  @include font-size($base, 1.5);
  margin: 0.75em 0;
}

small {
  @include font-size($small);
}

sub,
sup {
  @include font-size($small, 0);
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Lists
========================================================================== */

dl,
menu,
ol,
ul {
  @include clearfix;
  margin: 1em 0;
}

dd {
  margin: 0;
}


menu,
ul {
  padding: 0 0 0 1.5em;
}

ol {
  padding: 0 0 0 1.5em;
  ol { padding: 0 0 0 1.5em; }
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
========================================================================== */

figure { margin: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/* Tables
========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
}