---
layout: default.njk
---

<section>
  <header class="page-header">
  	<h1 class="page-title">{{ title }}</h1>
    <p class="page-subtitle">{{ subtitle }}</p>
  </header>

  <div class="page-content">
    {{ content | safe }}
  </div>
</section>
