$columns: one two three four five six seven eight nine ten eleven;
$column-length: length($columns) + 1;
$gutter: 0.5;

.grid {
  @include clearfix;
  position: relative;

  &.grid--fixed {
    @include vertical-rhythm('margin-left', -$gutter);
    .column,
    .columns {
      @include vertical-rhythm('padding-left', $gutter);
      float: left;
    }

    @each $c in $columns {
      $i: index($columns, $c);
      .#{$c} { width: column($i, $column-length); }
    }
  }

  @include respond-to('medium') {
    @include vertical-rhythm('margin-left', -$gutter);
    .column,
    .columns {
      @include vertical-rhythm('padding-left', $gutter);
      float: left;
    }

    @each $c in $columns {
      $i: index($columns, $c);
      .#{$c} { width: column($i, $column-length); }
    }

    &.grid--collapsed {
      margin-left: 0;
      .column,
      .columns {
        padding-left: 0;
      }
    }
  }
}